<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>19229</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
  <body>
   <div class="content">
    <h1>19229 Распознавание эмоций по выражению лица</h1>
    <img src="{{ url_for('video_feed') }}"  class="img-dem">
    <p><a href="https://github.com/mixst99/Emotion-Recognition-PRJCT2019">https://github.com/mixst99/Emotion-Recognition-PRJCT2019 </a></p>
       </div>
  </body>
</html>